name: textarea-auto-size

on:
  pull_request:
    paths:
      - 'packages/textarea-auto-size/**'
      - '!packages/textarea-auto-size/**/*.md'
      - 'jest.config.mjs'
      - 'jest.setup.js'
      - 'package.json'
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
      - run: npm ci
      - run: npm run build -w @w0s/writing-mode
      - run: npm test -w '@w0s/textarea-auto-size'
